name: ci

on: [push]

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      DB_HOST: 127.0.0.1
      DB_PORT: 3306
      DB_USERNAME: 'root'
      DB_PASSWORD: ''
    services:
      db:
        image: mysql:8.0.23
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_ROOT_PASSWORD: ''
          MYSQL_USER: 'user'
          MYSQL_DATABASE: tango_events_in_japan_test
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true
      - name: bundle install
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3 --path vendor/bundle
      - name: migration
        run: |
          bundle exec rake db:create
          bundle exec rake db:migrate
      - name: run rspec
        run: bundle exec rspec
